{{#if shorterURL}}
<div class="alert alert-success mt-3" role="alert">
  <h5 class="alert-heading">Shorter Successfully !!!</h5>
  <a href="/show/{{shorterURL}}">{{localURL}}/{{shorterURL}}</a>
</div>
{{/if}}